@use '../../styles/variables' as var;
@import '../../styles/mixins';

.chartBlock {
    padding-block: 40px 30px;
    margin-inline: auto;
    display: flex;
    align-items: flex-end;
    color: var.$color-light;
}

.norm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(80);
    height: 70svh;
    background-color: #4ab6e8;
    border-radius: 10px;
}

.list {
    display: flex;
    align-items: flex-end;
    li {
        margin-right: 60px;
        display: flex;
        flex-direction: column-reverse;
    }
}
.item {
    border: 1px solid #000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
