@use '../../styles/variables' as var;
@import '../../styles/mixins';

.norm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(80);
    height: 70svh;
    background-color: #4ab6e8;
    border-radius: 10px;
}
.item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
