@use '../../styles/variables' as var;
@import '../../styles/mixins';
@import '../../styles/media';

.column {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: rem(80);
    height: 70svh;
    background-color: #4ab6e8;
    border-radius: var.$border-radius-large;
    position: relative;

    &:not(:last-child) {
        margin-right: 60px;
    }
    > p {
        align-self: center;
        background-color: var.$color-light;
        color: var.$color-gray;
        border-radius: var.$border-radius-small;
        padding: rem(5);
        font-weight: 700;
    }

    @include mobile {
        &:not(:last-child) {
            margin-right: 20px;
        }
        width: rem(60);
    }
}
.item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
        border-radius: 0 0 var.$border-radius-large var.$border-radius-large;
    }
    &:nth-child(3) {
        border-radius: var.$border-radius-large var.$border-radius-large 0 0;
    }
}
.name {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: var.$color-gray;
}
