// :root {
//     --color-gray: #898290;
//     --color-col-blue: #4ab6e8;
//     --color-col-purple: #aa6fac;
//     --color-col-pink: #e85498;
// }

$color-gray: #898290;
$color-light: #ffffff;
$color-col-blue: #4ab6e8;
$color-col-purple: #aa6fac;
$color-col-pink: #e85498;
$color-diff-red: #fc440f;
$color-diff-green: #00cc99;
$color-diff-gray: #898290;

$border-radius-large: 10px;
$border-radius-small: 5px;

$font-family-base: 'Roboto', sans-serif;
$container-width: 1220px;
$container-padding-x: 15px;

$transition-duration: 0.2s;
