@use '../../styles/variables' as var;
@use '../../styles/media';
@use '../../styles/mixins';

.btn {
    @include mixins.reset-button();
    display: inline-flex;
    align-items: center;
    padding: 10px 5px;
    color: currentColor;
    font-size: 5px;
}
.wrapp {
    position: relative;
}
.menuList {
    list-style: none;
    position: absolute;
    top: 25px;
    right: 0;

    border: 1px solid currentColor;
    border-radius: var.$border-radius-small;

    li:not(:last-child) {
        border-bottom: 1px solid currentColor;
    }
    li {
        white-space: nowrap;
        padding-inline: 5px;
        text-align: center;
        @include media.hover {
            background-color: var.$color-col-blue;
            color: var.$color-light;
            user-select: none;
        }
    }

    &__button {
        @include mixins.reset-button();
        color: currentColor;
    }
}
.active {
    background-color: var.$color-col-blue;
    color: var.$color-light;
}
